[Desktop Entry]
Type=Application
Name=Secret Kit
Comment=Local air-gap secret generator
Exec=AppRun
Icon=secret-kit
Categories=Utility;Security;
Terminal=false
StartupNotify=true
X-AppImage-Name=SecretKit
